<!DOCTYPE HTML>
<html lang="en" ng-app="myapp">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
	<title>Menu</title>          
		   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">	
	<link rel="stylesheet" href="menuangular.css">	    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <script type="text/javascript" src="angular.min.js"></script>	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="menu.js"></script>
    </head>
    <body ng-Controller="menu">	    
		<nav>
                <script type="text/ng-template" id="treeMenu">
                    <li class="submenu">
                    <a href="{{menu.url}}">{{menu.name}}<span class="fas fa-caret-down" ng-if="(menus | filter:{pid : menu.id}).length > 0"></span></a>
                    <ul ng-if="(menus | filter:{pid : menu.id}).length > 0" class="children">
                        <li ng-repeat="menu in menus | filter:{pid : menu.id}" ng-include="'treeMenu'"></li>
                    </ul>
                </li>
                </script>
                <ul>
                    <li ng-repeat="menu in menus | filter:{pid : 0}" ng-include="'treeMenu'"></li>
                </ul> 
            </nav>
 <div class="container" style="margin-top:20px;">		   
		   <div ng-view></div>
		   </div>
    </body>
</html>
<script>
var myapp=angular.module('myapp',[]);
myapp.controller('menu',function($scope,$rootScope){
$rootScope.menus=true;
$scope.menus=[
    {
    "id":1,
    "name":"Home",
    "url":"#/home",
    "pid":0
},
{
    "id":2,
    "name":"Page 1",
    "url":"#/page1",
    "pid":0
},
{
    "id":3,
    "name":"Page 2",
    "url":"",
    "pid":0
},
{
    "id":4,
    "name":"Page 3",
    "url":"",
    "pid":0
},
{
    "id":5,
    "name":"Sub Page 2.A",
    "url":"#/subpage2a",
    "pid":3
},
{
    "id":6,
    "name":"Sub Page 2.B",
    "url":"#/subpage2b",
    "pid":3
},
{
    "id":7,
    "name":"Sub Page 3.A",
    "url":"#/subpage3a",
    "pid":4
},
{
    "id":8,
    "name":"Sub Page 3.B",
    "url":"#/subpage3b",
    "pid":4
}

];
}); 
</script>
